# 00 mode solver for 1 field linear
#
-snes_type ksponly
-petscspace_degree 1
-ksp_type cg
-pc_type gamg
-mg_levels_ksp_type chebyshev
-mg_levels_pc_type jacobi

-ksp_converged_reason 
-ksp_view_final_residual
-ksp_rtol 1.0e-6
-ksp_max_it 1000

# do not specifiy Vec and Mat type: use default
#-dm_vec_type mpi
#-dm_mat_type mpiaij

# general PETSc parameters
-no_signal_handler
-options_left 
-log_view
